
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
venv/
env/

# Base de datos
*.db
*.sqlite3

# Logs
*.log

# Archivos temporales
*.tmp

# VS Code / editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db