<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Trazabilidad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<div class="main-container">

    <!-- IZQUIERDA -->
    <div class="left fade-in">
        <h1>Trazabilidad</h1>
        <p>Gestiona y controla productos agrícolas de exportación de forma fácil y segura.</p>
    </div>

    <!-- DERECHA -->
    <div class="login-container slide-up">

        <input type="text" placeholder="Correo o usuario">
        <input type="password" placeholder="Contraseña">

        <button>Iniciar sesión</button>

        <a href="#" class="forgot">¿Has olvidado la contraseña?</a>

        <hr>

        <button class="register">Crear una cuenta</button>

    </div>

</div>

</body>
</html>